/* Theme Variables  */

:root {
  --bg: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
}

body.dark {
  --bg: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
}

 /* /Global Styles */ 

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0.2s, color 0.2s;
}

header {
  background: var(--elements);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--text);
}

/* ----- Controls ----- */
.controls {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

#search {
  padding: 12px 20px;
  width: 300px;
  background: var(--elements);
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: var(--text);
}

#region-filter {
  padding: 12px 20px;
  background: var(--elements);
  border: none;
  color: var(--text);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* ----- Countries Grid ----- */
.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 30px;
  gap: 40px;
}

.country-card {
  background: var(--elements);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.country-card:hover {
  transform: scale(1.03);
}

.country-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.country-card .info {
  padding: 20px;
}

.country-card h3 {
  margin: 0 0 10px;
}

.country-card p {
  margin: 5px 0;
}
